{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}
{% block menu %}
   <li><a href="{% url 'add_task' %}">Add Task</a></li>
   <li><a href="{% url 'task_update' article.pk %}">Update Task</a></li>
   <li><a href="{% url 'delete_task' article.pk %}">Delete Task</a></li>
{% endblock %}
{% block content %}
   <h1 class="detail">Detail</h1>
    <p class="detail_desc">Description: {{ article.description }}</p>
    <p class="details">Details: {{ article.details }}</p>
    <p class="detail_status">Status: {{ article.status }}</p>
    <p class="detail_date">Date: {{ article.done_date  }}</p>
{% endblock %}