{% extends 'base.html' %}
{% block menu %}
   <li><a href="{% url 'add_task' %}">Add Task</a></li>
{% endblock %}
{% block content %}
   <h1 class ='task'>Tasks:</h1>
   <hr/>
   {% for article in articles %}
       <h2>{{ article.description }}</h2>
       <div>{{ article.status }}</div>
       <div>{{ article.done_date }}</div>
       <p><a href="{% url 'detail_task' article.pk %}">More...</a></p>
       <p class="delete"><a class="delete_href" href="/article/delete?pk={{article.pk}}">Удалить</a></p>
       <hr/>
   {% endfor %}
{% endblock %}